# .mailmap - Consolidate author identities

# Consolidate different names/emails to single identity
codenimja <byronpredicts@gmail.com> b0ony <byronpredicts@gmail.com>
codenimja <byronpredicts@gmail.com> boonzy <byronpredicts@gmail.com>
